
	<!-- Header start -->
	<header id="header" class="navbar-fixed-top main-nav" role="banner">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<!--/ Top info start -->
					<div class="top-info">
						<ul class="pull-right">
							<li><i class="fa fa-phone"></i> Call Us: +919098962700</li>
							<li><i class="fa fa-envelope"></i> Info@sanwariyakisanbazar.com</li>
							<!-- Social links -->
							<li class="social-icon">
								<a id="tooltip1" data-toggle="tooltip" data-placement="top" title="Twitter"  href="#">
									<i class="fa fa-twitter"></i>
								</a>
								<a id="tooltip2" data-toggle="tooltip" data-placement="top" title="Facebook" href="#">
									<i class="fa fa-facebook"></i>
								</a>
								<a id="tooltip3" href="#" data-toggle="tooltip" data-placement="top" title="Google+">
									<i class="fa fa-google-plus"></i>
								</a>
								<a id="tooltip4" href="#" data-toggle="tooltip" data-placement="top" title="Dribble">
									<i class="fa fa-dribbble"></i>
								</a>
							</li><!-- Social links end-->
						</ul>
					</div><!--/ Top info end -->

					<!-- Logo start -->
					<div class="navbar-header">
					    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
					        <span class="sr-only">Toggle navigation</span>
					        <span class="icon-bar"></span>
					        <span class="icon-bar"></span>
					        <span class="icon-bar"></span>
					    </button>
					    <a class="navbar-brand" href="<%= root_path %>">
					    	<img class="img-responsive" src="../assets/logo.png" alt="logo">
					    </a>                    
					</div><!--/ Logo end -->

					<nav class="collapse navbar-collapse clearfix" role="navigation">
						<ul class="nav navbar-nav navbar-right">
	                        <li class=" active">
	                       	<a href="<%= root_path %>" class="dropdown-toggle" >Home </a></li>
	                       	<li><a href="<%= about_path %>">About</a></li>
	                        <li><a href="<%= service_path %>">Services</a></li>
	                       	<li><a href="<%= team_path %>">Team Members</a></li>
	                      	<li><a href="<%= portfolio_path %>">Portfolio</a></li>
	            			<li><a href="<%= contact_path %>">Contact</a></li>
	                        <li class="search"><button class="fa fa-search"></button></li>
	                    </ul>
					</nav><!--/ Navigation end -->
					
					<div class="site-search">
						<div class="container">
							<input type="text" placeholder="type what you want and enter">
							<span class="close">&times;</span>
						</div>
					</div>
				</div><!--/ Col end -->
			</div><!--/ Row end -->
		</div><!--/ Container end -->
	</header><!--/ Header end -->